<div class="container col-sm-4 offset-4">
  <h1><%= @cocktail.name %></h1>
  <h2>Ingredients:</h2>
  <div id="ingredients-list" class="list-group">
  </div>
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class:"badge badge-primary" %>
</div>
